.projectsDiv {
	position: relative;
	padding-bottom: 5%;
}

.projectsDiv#projectsblue {
	background-color: #dce897;
}

.projectsDiv#projectsyellow {
	background-color: #737892;
}


div#projectsTitle {
	font-family: 'Six Caps', sans-serif;
	color: #fff;
	font-size: 35px;
	text-decoration-line: underline;

}

.circleOuterDiv {
	font-family: 'Lekton', sans-serif;
	color: #fff;
	padding-top: 5%;
}


.projectCircle:hover {
    box-shadow: 0 0 0px 3px #969e93;
}

#pCircle1 {
	background-color: #d9d8c8;
}



#pCircle3 {
	background-color: #edeef0;
	border: 1px solid #edeef0;
}

.projectCircle {
	width: 200px;
	height: 200px;
	-moz-border-radius: 1000px;
	-webkit-border-radius: 1000px;
	border-radius: 1000px;
	border: 2px solid #fff;
	margin-top: 5%;
	margin-bottom: 5%;
}

#pCircle2 {
	background-color: #fff;
}




