body {
	background-color: #52515e;
	font-family: 'Spectral SC', serif;
	color: #52515e;
}

h1 {
	color: #fff;

}

.container {
	margin: 50px;
}

button {
	font-size: 20px;
	padding: 10px;
	background-color: #fff;
	border: none;
	box-shadow: 2px 2px #888888;
	color: #52515e;
	font-family: 'Spectral SC', serif;
}

#questionInputDiv {
	width: 700px;
	padding: 20px;
	margin-bottom: 20px;
	background-color: #fff;
}

select {
  /*-webkit-appearance: none;*/
  -webkit-border-radius: 0px;
  border: none;
}

.dropDownButton {
	width: 504px;
	height: 35px;
	border-radius: 0px;
	margin-left: 50px;
	background-color: #fff;
	padding: 1px;
	border: 1px solid #888888;
	margin-top: 5px;
	font-size: 15px;
	box-shadow: 3px 4px #888888;
	color: #52515e;
}

.questionInput {
	width: 500px;
	height:30px;
	margin-left: 10px;
	border: 1px solid #888888;
	font-size: 15px;
	margin-bottom: 5px;
	box-shadow: 3px 4px #888888;
}
 .activeNav {
 	color: #555 !important;
 	background-color: #e7e7e7 !important;

 }



