.illustrationsDiv {
	position: relative;
	padding-bottom: 5%;
	background-color: #fff;
}

#illustrationsTitle {
	font-family: 'Six Caps', sans-serif;
	color: #000;
	font-size: 35px;
	text-decoration-line: underline;
}


#illustrationsRow {
	padding-top: 3%;
}

#scienceSideyellow{
	border-right: 1px solid #737892;
}

#weddingSideyellow{
	border-left: 1px solid #737892;
}

#scienceSideblue{
	border-right: 1px solid #dce897;
}

#weddingSideblue{
	border-left: 1px solid #dce897;
}

.scienceImg {
	border: 2px solid #000;
    width: 100px;
    height: 100px;
    margin-top: 5%;
    background-color: #000;
    margin-bottom: 3%;
}

.scienceImg:hover, .wedImg:hover {
    box-shadow: 0 0 0px 1px #969e93;
}

.wedImg {
	border: 2px solid #000;
    width: 100px;
    height: 100px;
    margin-top: 5%;
    background-color: #000;
    margin-bottom: 3%;
}

/* xs 768 and under */
@media (max-width: 767px) {
	#weddingSideblue{
	border-left: 1px solid #fff;
	}
	#scienceSideblue{
	border-right: 1px solid #fff;
	}
	#scienceSideyellow{
	border-right: 1px solid #fff;
	}
	#weddingSideyellow{
		border-left: 1px solid #fff;
	}
}





