
.bingoLinkDiv {
	margin-bottom: 10px;
	margin-top: 3px;
}

.modalTitle{
	color: #737892;
	font-family: 'Six Caps', sans-serif;
	font-size: 70px;
}

a.modalLinks:link, a.modalLinks:visited, a.modalLinks:active {
	color: #000;
	font-size: 18px;
	border: solid 2px #000;
	padding: 1%;
	text-decoration: none;


}

a.modalLinks:hover {
	text-decoration: none;
	box-shadow: 0 0 0 2px #dce897;

}

.projectDescription {
	margin-bottom: 1.5%;
}
